
  .weather {
    background-color: rgb(224, 222, 222);;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 25px 25px 40px 0px rgba(0,0,0,0.33);
    color: #346443;
   
    font-family: arial, sans-serif;
    min-width: 500px;
    min-height: 250px;
    
  }
     
      
  .wdata .temper {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 40px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
  }
      
      .weather ul {
         
        padding: 0;
      }
      
      .weather li {
        font-size: 16px;
        font-weight: 100;
        line-height: 19px;
        list-style: none;
      }
      .weather row{
         margin: 0;
      }